{% extends 'bases/panel.html' %}
{% block title %}Visualizar Câmara{% endblock %}
{% block content %}
    <div id="loader"
         class="flex items-center justify-center h-[calc(100vh-76px)] w-full">
        {% include "components/loader.html" with w=50 %}
    </div>
    <div class="bg-[#0b0f14] fixed w-full h-full z-[-1]"></div>
    <main id="container"
          class="hidden p-4 lg:p-8 grid grid-cols-1 gap-6">
        <div class="flex items-center justify-center p-1">
            <div id="camera" data-camera-id="{{ camera.id }}" data-video-source="{{ camera.video_source }}"
                class="relative w-full flex items-center justify-center bg-black rounded-2xl overflow-hidden shadow-2xl max-h-[70vh]">
                <img id="cam-{{ camera.id }}" class="w-full h-auto aspect-video object-contain max-h-[70vh]" />
            </div>
        </div>
        <div class="bg-[#161b22] rounded-2xl p-6 shadow-xl flex flex-col gap-4">
            <div class="flex items-center justify-between border-b border-gray-700 pb-3 gap-5">
                <h2 class="text-2xl font-semibold truncate max-w-2xl">{{ camera.name }}</h2>
                <div class="flex gap-2">
                    <a href="{% url 'cameras:edit' camera.id %}"
                       class="p-2 rounded-lg bg-gray-600/20 hover:bg-gray-600/30 transition">{% lucide "pencil" %}</a>
                    <form action="{% url 'cameras:delete' camera.id %}" method="GET">
                        {% csrf_token %}
                        <button class="p-2 rounded-lg bg-red-600/20 hover:bg-red-600/30 text-red-400 transition">{% lucide "trash" %}</button>
                    </form>
                </div>
            </div>
            <div class="flex justify-between items-center">
                <span class="text-sm uppercase text-gray-400 text-base">Estado</span>
                <span class="px-3 py-1 rounded-full text-base font-semibold {% if camera.status %} bg-green-500/20 text-green-400 {% else %} bg-red-500/20 text-red-400 {% endif %} ">
                    {% if camera.status %}
                        Activo
                    {% else %}
                        Inactivo
                    {% endif %}
                </span>
            </div>
            <div class="flex justify-between items-center">
                <span class="uppercase text-gray-400 text-base">Conexão</span>
                <span class="flex items-center gap-2 text-base">
                    {% if camera.connection_type == "W" %}
                        {% lucide "wifi" %}
                    {% else %}
                        {% lucide "usb" %}
                    {% endif %}
                    {{ camera.get_connection_type_display }}
                </span>
            </div>
            <div class="flex justify-between items-center">
                <span class="text-base uppercase text-gray-400">Localização</span>
                <span class="flex items-center gap-2 text-base">{{ camera.location }}</span>
            </div>
            {% if camera.connection_type == "W" %}
                <div class="flex justify-between items-center">
                    <span class="text-base uppercase text-gray-400">Stream</span>
                    <span class="truncate text-base max-w-[180px]">{{ camera.wificamera.stream_url }}</span>
                </div>
            {% endif %}
            <div class="flex justify-between items-center">
                <span class="text-base uppercase text-gray-400">Actualizado em</span>
                <span class="text-base">{{ camera.updated_at|date:"d/m/Y" }}</span>
            </div>
            <div class="flex justify-between items-center">
                <span class="text-base uppercase text-gray-400">Criado em</span>
                <span class="text-base">{{ camera.created_at|date:"d/m/Y" }}</span>
            </div>
        </div>
    </main>
    <script>
    const mainHTML = document.getElementById("container")
    const loader = document.getElementById("loader")
    const cameraDiv = document.getElementById("camera")
    const imageELement = cameraDiv.querySelector("img")

    function convertToInt(id) {
        if (typeof id === "number") return id
        return parseInt(id)
    }

    function connectCameraWs(cameraId, videoSource) {
        if (!videoSource) return
        const ws = new WebSocket(`ws://${window.location.host}/ws/camera/${cameraId}/?vs=${videoSource}`)
        ws.binaryType = "arraybuffer"
        ws.onmessage = e => {
            const blob = new Blob([e.data], { type: "image/jpeg" })
            const url = URL.createObjectURL(blob)
            imageELement.src = url
            setTimeout(() => URL.revokeObjectURL(url), 500)
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        let videoSource = cameraDiv.dataset.videoSource

        if ("{{ camera.connection_type }}" === "L") {
            videoSource = convertToInt(videoSource)
        }

        const cameraId = cameraDiv.dataset.cameraId
        connectCameraWs(cameraId, videoSource)
        loader.classList.add("hidden")
        mainHTML.classList.remove("hidden")
    })
    </script>
{% endblock %}
