{% extends 'bases/panel.html' %}

{% block title %}Visualizar Câmara{% endblock %}

{% block content %}
<div id="loader" class="flex items-center justify-center h-[calc(100vh-76px)] w-full">
    {% include "components/loader.html" with w=50 %}
</div>
<div class="bg-[#0b0f14] fixed w-full h-full z-[-1]"></div>
<main id="container" class="hidden p-4 lg:p-8 grid grid-cols-1 xl:grid-cols-5 gap-6">
    <div class="xl:col-span-3">
        <div id="camera" data-connection-url-or-id="{{ camera.get_connection_url_or_id }}"
            class="relative w-full aspect-video bg-black rounded-2xl overflow-hidden shadow-2xl">
            <img id="cam-{{ camera.id }}" class="w-full h-full" />
            <div class="absolute top-4 left-4 px-4 py-1 rounded-full bg-red-600/80 text-sm font-semibold animate-pulse">
                LIVE
            </div>
        </div>
    </div>
    <div class="xl:col-span-2 bg-[#161b22] rounded-2xl p-6 shadow-xl flex flex-col gap-4">
        <div class="flex items-center justify-between border-b border-gray-700 pb-3">
            <h2 class="text-2xl font-semibold">{{ camera.name }}</h2>
            <div class="flex gap-2">
                <button class="p-2 rounded-lg bg-gray-600/20 hover:bg-gray-600/30 transition">
                    <span class="material-symbols-outlined">edit</span>
                </button>
                <button class="p-2 rounded-lg bg-red-600/20 hover:bg-red-600/30 text-red-400 transition">
                    <span class="material-symbols-outlined">delete</span>
                </button>
            </div>
        </div>
        <div class="flex justify-between items-center">
            <span class="text-sm uppercase text-gray-400">Estado</span>
            <span class="px-3 py-1 rounded-full text-sm font-semibold
                {% if camera.status %}
                bg-green-500/20 text-green-400
                {% else %}
                bg-red-500/20 text-red-400
                {% endif %}
            ">
                {% if camera.status %}Activo{% else %}Inactivo{% endif %}
            </span>
        </div>

        <div class="flex justify-between items-center">
            <span class="text-sm uppercase text-gray-400">Conexão</span>
            <span class="flex items-center gap-2">
                <span class="material-symbols-outlined">
                    {% if camera.type == "W" %}wifi{% else %}usb{% endif %}
                </span>
                {{ camera.get_connection_type_display }}
            </span>
        </div>

        <div class="flex justify-between items-center">
            <span class="text-sm uppercase text-gray-400">Localização</span>
            <span class="flex items-center gap-2">
                {{ camera.location }}
            </span>
        </div>

        {% if camera.wificamera %}
        {% if camera.wificamera.username %}
        <div class="flex justify-between items-center">
            <span class="text-sm uppercase text-gray-400">Utilizador</span>
            <span>{{ camera.wificamera.username }}</span>
        </div>
        {% endif %}
        {% if camera.wificamera.password %}
        <div class="flex justify-between items-center">
            <span class="text-sm uppercase text-gray-400">Palavra-passe</span>
            <span>*****</span>
        </div>
        {% endif %}
        <div class="flex justify-between items-center">
            <span class="text-sm uppercase text-gray-400">Stream</span>
            <span class="truncate max-w-[180px]">{{ camera.wificamera.stream_url }}</span>
        </div>
        {% endif %}

        <div class="flex justify-between items-center">
            <span class="text-sm uppercase text-gray-400">Actualizado em</span>
            <span>{{ camera.updated_at|date:"d/m/Y" }}</span>
        </div>

        <div class="flex justify-between items-center">
            <span class="text-sm uppercase text-gray-400">Criado em</span>
            <span>{{ camera.created_at|date:"d/m/Y" }}</span>
        </div>

    </div>
</main>

<script>
    const mainHTML = document.getElementById("container")
    const loader = document.getElementById("loader")
    const cameraDiv = document.getElementById("camera")
    const imageELement = cameraDiv.querySelector("img")

    function convertToInt(id) {
        if (typeof id === "number") return id
        return parseInt(id)
    }

    function connectCameraWs(index) {
        if (!index) return
        const ws = new WebSocket(`ws:localhost:8000/ws/camera-video/${index}`)
        ws.binaryType = "arraybuffer"
        ws.onmessage = e => {
            const blob = new Blob([e.data], { type: "image/jpeg" })
            const url = URL.createObjectURL(blob)
            imageELement.src = url
            setTimeout(() => URL.revokeObjectURL(url), 500)
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        const index = convertToInt(cameraDiv.dataset.connectionUrlOrId)
        connectCameraWs(index)
        loader.classList.add("hidden")
        mainHTML.classList.remove("hidden")
    })
</script>
{% endblock %}