{% extends 'bases/panel.html' %}

{% block title %}Pessoas{% endblock %}

{% block content %}
<div class="hidden fixed inset-0 flex justify-center items-center bg-black/60 z-[1000]" id="imageCaptureModel">
  <div id="photoCapture"
    class="max-w-5xl space-y-4 w-full flex justify-center items-center border-t border-gray-600 gap-3 pt-3 mt-3">
    <canvas id="canvas" class="hidden"></canvas>
    <video autoplay playsinline class="aspect-video"></video>
    <input type="hidden" name="photo" id="photo" required>
    <div class="flex flex-col gap-4">
      <button id="takePhoto" title="Capturar">
        <span class="material-symbols-outlined">
          camera
        </span>
      </button>
      <button title="Desfazer" id="replayVideo">
        <span class="material-symbols-outlined">
          replay
        </span>
      </button>
    </div>
  </div>
</div>
<main class="flex-1 h-full flex flex-col relative overflow-hidden">
  <header class="w-full px-6 py-4 lg:px-10 lg:py-6 flex flex-col gap-4 shrink-0 z-10">
    <div class="flex flex-col md:flex-row md:items-end justify-between gap-4 border-b border-gray-600 pb-3">
      <div class="flex flex-col gap-2">
        <h2 class="text-white text-2xl md:text-4xl font-bold tracking-tight">Gerir Pessoas</h2>
      </div>
      <div class="flex gap-2 items-center">
        <div class="flex flex-col lg:flex-row gap-4 items-start lg:items-center justify-between">
          <div class="relative w-full lg:w-96">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none text-text-secondary">
              <span class="material-symbols-outlined">search</span>
            </div>
            <input
              class="border border-gray/90 block w-full p-2.5 pl-10 text-sm text-white bg-surface-dark rounded-lg focus:ring-1 focus:ring-primary placeholder-text-secondary"
              placeholder="Buscar por nome, nº. casa..." type="text" />
          </div>
        </div>
        <button
          id="openImageCaptureModel"
          class="flex items-center justify-center gap-2 rounded-lg h-10 px-5 border border-gray-500 text-white text-sm font-bold tracking-wide transition-all">
          <span class="material-symbols-outlined text-[20px]">account_box</span>
          <span class="hidden md:block">Pesquisar por rosto</span>

        </button>
        <a href="{% url 'people:new' %}"
          class="flex items-center justify-center gap-2 rounded-lg h-10 px-5 bg-primary hover:bg-blue-600 text-white text-sm font-bold tracking-wide transition-all shadow-lg shadow-primary/20">
          <span class="material-symbols-outlined text-[20px]">add</span>
          <span class="hidden md:block">Adicionar Pessoa</span>
        </a>
      </div>
    </div>
  </header>
  <div class="flex-1 overflow-y-auto px-6 lg:px-10 pb-10">
    <div class="flex flex-col gap-3">
      {% if people %}
      <table class="w-full table-auto">
        <thead>
          <tr class="bg-surface-dark">
            <th class="p-4 text-left border border-gray-500">Nome</th>
            <th class="p-4 text-left border border-gray-500">Tipo de pessoa</th>
            <th class="p-4 text-left border border-gray-500">Banido</th>
            <th class="p-4 text-left border border-gray-500">Data de adição</th>
            <th class="p-4 text-left border border-gray-500">Última actualização</th>
            <th class="p-4 text-left border border-gray-500 flex items-center justify-center">Acções</th>
          </tr>
        </thead>
        <tbody>
          {% for person in people %}
          <tr>
            <td class="p-4 border border-gray-500"><a href="#" class="hover:underline text-blue-500">{{ person.first_name }} {{ person.last_name }}</a></td>
            <td class="p-4 border border-gray-500">{{ person.get_type_display }}</td>
            <td class="p-4 border border-gray-500">
              <span
                class="px-2 py-1 rounded-full font-bold {% if camera.status %} bg-green-500 {% else %} bg-red-500 {% endif %}">
                {% if person.banned %} Sim {% else %} Não {% endif %}
              </span>
            </td>
            <td class="p-4 border border-gray-500">{{ person.added_at|date:"d/m/y H:m" }} às {{ camera.added_at|date:"H:i" }}</td>
            <td class="p-4 border border-gray-500">{{ person.updated_at|date:"d/m/y" }} às {{ person.updated_at|date:"H:i" }}</td>
            <td class="flex gap-1 justify-center items-center p-4 border border-gray-500">
              <button class="p-2 rounded bg-surface-hover text-text-secondary hover:text-primary transition-colors"
                title="Editar">
                <span class="material-symbols-outlined text-[18px]">edit</span>
              </button>
              <a href=""
                class="p-2 rounded bg-surface-hover text-text-secondary hover:text-red-500 transition-colors"
                title="Remover">
                <span class="material-symbols-outlined text-[18px]">delete</span>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="w-full flex justify-center items-center flex-col text-center gap-1 mt-3">
        <div
          class="flex items-center justify-center">
          <span class="material-symbols-outlined text-[48px] opacity-80">group_off</span>
        </div>
        <div class="flex flex-col gap-2 max-w-md">
          <h3 class="text-white text-xl font-bold">Nenhuma pessoa registada</h3>
          <p class="text-text-secondary text-sm leading-relaxed">
            Clique no botão 'Adicionar Pessoa' para registar alguém
          </p>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</main>

<script>
  const modal = document.getElementById('imageCaptureModel')
  const takePhotoBtn = document.getElementById("takePhoto")
  const replayVideo = document.getElementById("replayVideo")
  const startVideo = document.getElementById("openImageCaptureModel")
  const photoCapture = document.getElementById("photoCapture")
  const canvas = document.getElementById("canvas")
  const photo = document.getElementById("photo")
  const video = document.querySelector("video");

  let stream;

  startVideo.addEventListener('click', (e) => {
    e.preventDefault()
    navigator.mediaDevices.getUserMedia({ video: true })
      .then(mediaStream => {
        stream = mediaStream
        video.srcObject = mediaStream
        video.play()
        modal.classList.toggle('hidden')
      }).catch(rejected => {
        window.history.back()
      })
  })

  takePhotoBtn.addEventListener('click', (e) => {
    e.preventDefault()
    const ctx = canvas.getContext("2d");

    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;

    ctx.drawImage(video, 0, 0);
    const dataURL = canvas.toDataURL("image/jpeg", 0.9);

    photo.value = dataURL;
    video.pause()
  })

  replayVideo.addEventListener('click', (e) => {
    e.preventDefault()
    video.play()
  })
</script>
{% endblock %}