{% extends 'bases/panel.html' %}
{% block title %}Notificações{% endblock %}
{% block content %}
    <div class="hidden fixed inset-0 flex items-center justify-center bg-black/80 backdrop-blur-sm z-10"
         id="seeImageModal"></div>
    <main class="w-full flex-1 h-full flex flex-col items-center overflow-hidden py-6 px-4">
        <header class="max-w-3xl w-full flex flex-col items-center gap-4 border-b border-gray-500">
            <div class="flex flex-col gap-2">
                <h2 class="text-white text-2xl md:text-4xl font-bold">Notificações</h2>
            </div>
            <form class="flex gap-4"
                  action="{% url 'notifications:home' %}"
                  method="get">
                <div class="flex items-center mb-4 gap-2">
                    <input id="default-checkbox"
                           type="radio"
                           value="A"
                           {% if search_query=="A" %}checked{% endif %}
                           name="search-query"
                           class="cursor-pointer w-4 h-4 border rounded-lg bg-none focus:ring-2 focus:ring-brand-soft">
                    <label for="default-checkbox"
                           class="select-none ms-2 text-base font-medium text-heading">Todas</label>
                </div>
                <div class="flex items-center mb-4 gap-2">
                    <input id="default-checkbox"
                           type="radio"
                           value="NR"
                           {% if search_query=="NR" %}checked{% endif %}
                           name="search-query"
                           class=" cursor-pointer w-4 h-4 border rounded-lg bg-none focus:ring-2 focus:ring-brand-soft">
                    <label for="default-checkbox"
                           class="select-none ms-2 text-base font-medium text-heading">
                        Não
                        Lidas
                    </label>
                </div>
                <div class="flex items-center mb-4 gap-2">
                    <input id="default-checkbox"
                           type="radio"
                           value="R"
                           {% if search_query=="R" %}checked{% endif %}
                           name="search-query"
                           class="cursor-pointer w-4 h-4 border rounded-lg bg-none focus:ring-2 focus:ring-brand-soft">
                    <label for="default-checkbox"
                           class="select-none ms-2 text-base font-medium text-heading">Lidas</label>
                </div>
            </form>
        </header>
        <div class="max-w-3xl w-full flex-1 pt-4">
            <div class="flex flex-col gap-3">
                {% if notifications %}
                    {% for n in notifications %}
                        <div class="relative flex items-start gap-3 bg-[#1E2939] border border-gray-700 border-lg px-5 py-4 rounded-lg ">
                            <div class="icon">
                                {% if n.level == "I" %}
                                    {% lucide "info" %}
                                {% elif n.level == "E" %}
                                    {% lucide "error" %}
                                {% elif n.level == "S" or n.level == "P" %}
                                    {% lucide "circle-alert" %}
                                {% endif %}
                            </div>
                            <div class="info">
                                <h1 class="text-xl font-semibold">{{ n.title }}</h1>
                                <p class="text-lg text-gray-300">{{ n.description }}</p>
                                <div class="pt-2 flex flex-row items-center gap-3">
                                    {% if n.photo %}
                                        <button class="see-image-btn cursosr-pointer text-lg px-2 rounded-lg py-1 underline text-blue-300"
                                                data-photo-url="{{ n.photo.url }}">Ver Imagem</button>
                                    {% endif %}
                                    <a href="{% url 'cameras:view' n.camera.id %}"
                                       class="px-5 text-lg text-gray-200 underline">{{
                                    n.camera.get_name }}</a>
                                    <span class="px-5 text-lg text-gray-300">{{ n.created_at }}</span>
                                </div>
                            </div>
                            <div class="pt-2 flex flex-row gap-3">
                                <a href="{% url 'notifications:delete' n.id %}" class="text-red-500">{% lucide "trash" %}</a>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="pagination text-center pt-3 pb-10 md:pb-0">
                        <span class="text-center step-links flex items-center gap-2 justify-center">
                            {% if notifications.has_previous %}
                                <a href="?page={{ notifications.previous_page_number }}">{% lucide "chevron-left" %}</a>
                            {% endif %}
                            <span class="current">Pág. {{ notifications.number }} / {{ notifications.paginator.num_pages
                            }}</span>
                            {% if notifications.has_next %}
                                <a href="?page={{ notifications.next_page_number }}">{% lucide "chevron-right" %}</a>
                            {% endif %}
                        </span>
                    </div>
                {% else %}
                    <div class="flex justify-center items-center flex-col text-center gap-1 mt-3">
                        {% lucide "bell-off" width="45" height="45" %}
                        <h3 class="text-white text-xl font-medium">Nenhuma notificação</h3>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
    <script>
    const checkboxInputs = document.querySelectorAll('input[name="search-query"]')
    const filterForm = document.querySelector("form")

    checkboxInputs.forEach(checkboxInput => {
        checkboxInput.addEventListener('input', (e) => {
            filterForm.submit()
            setTimeout(() => console.log("wait 3s until next search"), 3000)
        })
    })

    function closeModal() {
        document.getElementById('search-results-modal').classList.toggle('hidden')
    }
    const seeImageModal = document.getElementById('seeImageModal')
    const seeImageButtons = document.querySelectorAll('.see-image-btn')
    seeImageButtons.forEach(seeImageButton => {
        seeImageButton.addEventListener('click', (e) => {
            const photoUrl = seeImageButton.dataset.photoUrl
            seeImageModal.innerHTML = `
            <img class="w-50 h-50 relative aspect-video" src="${photoUrl}" alt="Imagem da Notificação">
            <button onclick="document.getElementById('seeImageModal').classList.toggle('hidden')" class="absolute top-0 right-0 p-3">
            {% lucide "x" %}
            </button>
            `
            seeImageModal.classList.toggle('hidden')
        })
    })
    </script>
{% endblock content %}
