{% extends 'bases/users.html' %}

{% block title %}Entrar{% endblock %}

{% block content %}
<div class="pt-2 pb-2 relative">
    <div class="flex justify-between items-center mb-3">
        <label class="text-white text-base font-medium leading-normal ml-1">
            Digite o código de accesso
        </label>
        <a href="#" class="text-sm text-blue-300 underline">Esqueceu-se?</a>
    </div>
    <form class="grid grid-cols-[repeat(1,1fr)_auto] gap-2 sm:gap-4 items-center">
        {% include 'components/pin.html' %}
        <button type="submit"
            class="h-12 w-12 bg-primary rounded-lg flex items-center justify-center text-white hover:bg-blue-600 active:scale-[0.98] transition-all shadow-[0_0_10px_rgba(19,127,236,0.2)]">
            <span class="material-symbols-outlined text-[24px]">arrow_forward</span>
        </button>
    </form>
</div>
{% endblock %}