{% extends 'bases/users.html' %}

{% block title %}Registar-se{% endblock %}

{% block content %}
<div class="pt-2 pb-2 relative">
    <div class="flex flex-col justify-center text-center gap-2 pb-6">
        <h2 class="text-white text-[28px] font-bold leading-tight tracking-[-0.015em]">Crie a sua conta</h2>
        <p class="text-[#9dabb9] text-sm font-normal">
            Preencha os campos abaixo para se registrar
        </p>
    </div>
    <form action="{% url 'users:signup' %}" class="flex flex-col gap-5" method="POST">
        {% csrf_token %}
        <div>
            <label class="flex flex-col w-full">
                <p class="text-white text-base font-medium leading-normal pb-2">Primeiro e último nome</p>
                {% include 'components/lucide-input.html' with placeholder="Digite o seu primeiro e último nome" type="text" icon="user" name="full_name" required=True value=request.POST.full_name %}
            </label>
        </div>
        <label class="flex flex-col w-full">
            <p class="text-white text-base font-medium leading-normal pb-2">Endereço eletrónico</p>
            {% include 'components/lucide-input.html' with placeholder="Digite o seu endereço eletrónico" type="email" icon="mail" name="email" required=True value=request.POST.email %}
        </label>
        <div class="flex flex-col sm:flex-row gap-4">
            <label class="flex flex-col w-full flex-1">
                <p class="text-white text-base font-medium leading-normal pb-2">Palavra-passe</p>
                {% include 'components/lucide-input.html' with placeholder="Digite uma palavra-passe" type="password" icon="lock" name="password" required=True value=request.POST.password %}
            </label>
        </div>
        <div class="flex flex-col gap-4">
            <label class="text-white text-base font-medium leading-normal">
                Código de accesso
            </label>
            {% include 'components/customizable_pin.html' with pin_class="pin-input-signup" final_input_id="final-input-id-signup" pin_input_name="pin-signup" %}
        </div>
        <button
            class="flex w-full cursor-pointer items-center justify-center overflow-hidden rounded-lg h-12 px-4 bg-primary hover:bg-primary/90 text-white text-base font-bold leading-normal tracking-[0.015em] transition-all shadow-[0_0_15px_rgba(19,127,236,0.3)] hover:shadow-[0_0_20px_rgba(19,127,236,0.5)]"
            type="submit">
            <span class="truncate flex items-center gap-1">
                Avançar
                {% lucide "arrow-right" %}
            </span>
        </button>
        <span class="text-center">Já conta? <a href="{% url 'users:login' %}"
                        class="text-blue-500 hover:underline">Entrar</a></span>

    </form>
</div>
{% endblock %}