{% load static%}

<div id="movableNavbar" class="fixed top-1/2 left-4 -translate-y-1/2 z-[999]
            bg-surface-dark/60 backdrop-blur-xl backdrop-saturate-150
            border border-gray-700
            rounded-full shadow-xl
            flex flex-col items-center gap-3
            p-3 cursor-move select-none">

    <div class="relative w-10 h-10 flex items-center justify-center text-white font-bold">
        <div class="absolute inset-0 rounded-full bg-[#137FEC]/70 blur-lg"></div>
        <img src="{% static 'imgs/logo.png' %}" alt="Logo" class="relative w-7 h-auto z-10">
    </div>

    <div class="w-full h-px bg-border-dark"></div>

    <a href="{% url 'cameras:home' %}" class="material-symbols-outlined p-1 px-2 hover:bg-[#137FEC]/20 rounded-lg">
        videocam
    </a>

    <a href="{% url 'people:home' %}" class="material-symbols-outlined p-1 px-2 hover:bg-[#137FEC]/10 rounded-lg">
        people
    </a>

    <a href="{% url 'notifications:home' %}"
        class="material-symbols-outlined p-1 px-2 hover:bg-[#137FEC]/10 rounded-lg">
        notifications
    </a>

    <a href="{% url 'users:lock' %}" class="material-symbols-outlined p-1 px-2 hover:bg-[#137FEC]/10 rounded-lg">
        lock
    </a>
    <a href="/admin"
        class="material-symbols-outlined p-1 px-2 hover:bg-[#137FEC]/10 rounded-lg">
        shield_person
    </a>
    <a href="{% url 'notifications:home' %}"
        class="material-symbols-outlined p-1 px-2 hover:bg-[#137FEC]/10 rounded-lg">
        settings
    </a>
</div>