{% load static%}

<div id="movableNavbar" class="fixed top-1/2 left-4 -translate-y-1/2 z-[999]
            bg-surface-dark/60 backdrop-blur-xl backdrop-saturate-150
            border border-gray-700
            rounded-full shadow-xl
            flex flex-col items-center gap-2
            p-3 cursor-move select-none">

    <div class="relative w-10 h-10 flex items-center justify-center text-white font-bold">
        <div class="absolute inset-0 rounded-full bg-[#137FEC]/70 blur-lg"></div>
        <img src="{% static 'imgs/logo.png' %}" alt="Logo" class="relative w-7 h-auto z-10">
    </div>

    <div class="w-full h-px bg-border-dark"></div>

    <a href="{% url 'cameras:home' %}"
        class="flex items-center justify-center w-12 h-12 rounded-full hover:bg-[#137FEC]/20 transition-all duration-200">
        {% lucide "video" %}
    </a>

    <a href="{% url 'people:home' %}"
        class="flex items-center justify-center w-12 h-12 rounded-full hover:bg-[#137FEC]/20 transition-all duration-200">
        {% lucide "users" %}
    </a>

    <a href="{% url 'notifications:home' %}" id="notificationBtn"
        class="relative flex items-center justify-center w-12 h-12 rounded-full hover:bg-[#137FEC]/20 transition-all duration-200">
        {% lucide "bell" class="text-white" %}
    
        <span id="notificationCounter"
            class="absolute top-0 right-0 px-2 py-1 text-xs font-bold leading-none text-white transform translate-x-1/2 -translate-y-1/2 bg-red-600 rounded-full">
            
        </span>
    </a>

    <a id="btnLock" class="flex items-center justify-center w-12 h-12 rounded-full hover:bg-[#137FEC]/20 transition-all duration-200">
        {% lucide "lock" %}
    </a>
    <a href="/admin" class="material-symbols-outlined flex items-center justify-center w-12 h-12 rounded-full hover:bg-[#137FEC]/20 transition-all duration-200">
        shield_person
    </a>
    <a href="{% url 'notifications:home' %}"
        class="flex items-center justify-center w-12 h-12 rounded-full hover:bg-[#137FEC]/20 transition-all duration-200">
        {% lucide "settings" %}
    </a>
</div>

<script>
    const pinModalFromFloatingNavbar = document.querySelector("#pimModalElement")

    document.querySelector("#btnLock")
        .addEventListener('click', async () => {
            const response = await fetch("/users/lock/", {
                method: "GET",
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            pinModalFromFloatingNavbar.classList.toggle('hidden')
        })
</script>