<div class="flex w-full items-stretch rounded-lg transition-shadow focus-within:ring-2 focus-within:ring-primary/50">
    <input
        class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-l-lg text-white focus:outline-none focus:ring-0 border border-[#3b4754] bg-[#1c2127] focus:border-primary h-12 placeholder:text-[#9dabb9] p-[15px] border-r-0 text-base font-normal leading-normal transition-colors"
        placeholder="{{ placeholder }}" type="{{ type }}" />
    <div
        class="text-[#9dabb9] flex items-center justify-center px-4 rounded-r-lg border border-[#3b4754] border-l-0 bg-[#1c2127] transition-colors focus-within:border-primary focus-within:ring-2 focus-within:ring-primary/50">
        <span class="material-symbols-outlined text-xl">{{ icon }}</span>
    </div>
</div>