<div class="hidden fixed inset-0 flex justify-center items-center backdrop-blur-sm z-[1000]"
     id="photo_capture_modal">
    <div id="photoCapture"
         class="max-w-3xl p-5 py-10 rounded-xl space-y-4 w-full flex flex-col justify-center items-center gap-3 pt-3 mt-3">
        <canvas id="photo_capture_canvas_element" class="hidden rounded-lg"></canvas>
        <video autoplay
               playsinline
               class="aspect-video"
               id="photo_capture_video_element">
        </video>
        <div class="flex gap-2">
            <button id="photo_capture_close_button_element"
                    class="flex items-center justify-center px-3 py-2 bg-red-500 rounded-lg"
                    title="Fechar"
                    type="button">
                {% lucide "x" %}
                Fechar
            </button>
            <button class="flex items-center justify-center px-3 py-2 bg-gray-900 rounded-lg"
                    title="Desfazer"
                    id="replayVideo"
                    type="button">
                {% lucide "rotate-ccw" %}
                Repetir
            </button>
            <button class="flex items-center justify-center px-3 py-2 bg-blue-500 rounded-lg"
                    id="takePhoto"
                    title="Capturar"
                    type="button">
                {% lucide "camera" %}
                Capturar
            </button>
            {% if search %}
                <button class="flex items-center justify-center px-3 py-2 bg-gray-600 rounded-lg"
                        id="photo_capture_search_button_element"
                        title="Pesquisar">
                    {% lucide "search" %}
                    Pesquisar
                </button>
            {% endif %}
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', (e) => {
        let stream;
        const modal = document.getElementById('photo_capture_modal')
        const photo = document.getElementById("{{ input }}")
        const video = document.getElementById("photo_capture_video_element");
        const canvas = document.getElementById("photo_capture_canvas_element")
        const startVideo = document.getElementById("{{ start_button }}")
        const searchForm = document.getElementById("{{ search }}")
        const replayVideo = document.getElementById("replayVideo")
        const takePhotoBtn = document.getElementById("takePhoto")
        const searchButton = document.getElementById("photo_capture_search_button_element")

        startVideo.addEventListener('click', async (e) => {
            e.preventDefault()
            try {
                stream = await navigator.mediaDevices.getUserMedia({
                    video: true
                })

                video.srcObject = stream
                await video.play()

                modal.classList.toggle('hidden')
            } catch (error) {
                modal.classList.toggle('hidden')
                await video.pause()
            }
        })

        takePhotoBtn.addEventListener('click', async (e) => {
            e.preventDefault()
            const ctx = canvas.getContext("2d");

            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;

            ctx.drawImage(video, 0, 0);
            const dataURL = canvas.toDataURL("image/jpeg", 0.9);

            photo.value = dataURL;
            await video.pause()
        })

        replayVideo.addEventListener('click', async (e) => {
            e.preventDefault()
            await video.play()
        })

        document.getElementById("photo_capture_close_button_element")
            .addEventListener('click', async (e) => {
                modal.classList.toggle('hidden')
                await video.pause()
                if (stream) {
                    stream.getTracks().forEach(track => track.stop());
                    stream = null;
                }
                video.srcObject = null;
            })

        searchButton.addEventListener('click', (e) => {
            if (searchForm) {
                searchForm.submit()
            }
        })
    })
</script>
