<div class="grid grid-cols-[repeat(4,1fr)_auto] gap-3 sm:gap-4 items-center">
    <input
        class="pin-input h-14 w-full bg-[#11161b] border border-border-dark rounded-lg text-center text-white text-2xl font-bold focus:border-primary focus:ring-2 focus:ring-primary/50 focus:outline-none transition-all caret-primary"
        maxlength="1" placeholder="•" type="text" />
    <input
        class="pin-input h-14 w-full bg-[#11161b] border border-border-dark rounded-lg text-center text-white text-2xl font-bold focus:border-primary focus:ring-2 focus:ring-primary/50 focus:outline-none transition-all caret-primary"
        maxlength="1" placeholder="•" type="text" />
    <input
        class="pin-input h-14 w-full bg-[#11161b] border border-border-dark rounded-lg text-center text-white text-2xl font-bold focus:border-primary focus:ring-2 focus:ring-primary/50 focus:outline-none transition-all caret-primary"
        maxlength="1" placeholder="•" type="text" />
    <input
        class="pin-input h-14 w-full bg-[#11161b] border border-border-dark rounded-lg text-center text-white text-2xl font-bold focus:border-primary focus:ring-2 focus:ring-primary/50 focus:outline-none transition-all caret-primary"
        maxlength="1" placeholder="•" type="text" />
    <input type="hidden" id="finalPinInput" name="pin" />
</div>

<script>
    const pinFields = document.querySelectorAll('.pin-input')
    const finalPinInput = document.querySelector('#finalPinInput')

    function updateFinalPinIput() {
        let newPinValue = ""
        pinFields.forEach(pinField => {
            newPinValue += pinField.value
        })
        finalPinInput.value = newPinValue
    }

    pinFields.forEach((pinField, idx) => {
        pinField.addEventListener('input', (e) => {
            const inputType = e.inputType

            if (inputType === "deleteContentBackward") {
                if (idx > 0) {
                    const previousPinField = pinFields[idx - 1]
                    previousPinField.focus()
                }
            } else {
                if (idx < 3) {
                    const nextPinField = pinFields[idx + 1]
                    nextPinField.value = ""
                    nextPinField.focus()
                }
            }
            updateFinalPinIput()
        })
    })
</script>