{% extends 'bases/panel_no_nav.html' %}

{% block title %}Painel de Controle{% endblock %}

{% block subhead %}
<style>
    #container[data-count="1"] {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    #container[data-count="2"] {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    #container[data-count="3"],
    #container[data-count="4"] {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #container[data-count="5"],
    #container[data-count="6"] {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #container[data-count="7"],
    #container[data-count="8"],
    #container[data-count="9"] {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
</style>
{% endblock %}

{% block content %}
<div id="loader" class="flex items-center justify-center h-[calc(100vh-76px)] w-full">
    {% include "components/loader.html" with w=50 %}
</div>

{% include "components/floating_navbar.html" %}
<main id="container" class="
    hidden
    w-full
    h-[100vh]
    bg-black
    grid
  ">
    {% for camera in cameras %}
    <div class="camera relative bg-black w-full h-full overflow-hidden" data-id="{{camera}}" data-path="" data-stream-url="">
        <img src="" id="cam-{{forloop.counter}}" class="absolute inset-0 w-full h-full object-contain bg-black" />
        <span class="absolute bottom-1 right-1 text-xs text-green-400 font-mono">
            CAM-{{forloop.counter}}
        </span>
    </div>
    {% empty %}
    <div class="fixed inset-0 flex flex-col items-center justify-center">
        <div class="flex items-center justify-center ">
            <span class="material-symbols-outlined text-[48px] opacity-80">videocam_off</span>
        </div>
        <span class="text-xl">
            Sem câmeras registadas
        </span>
    </div>
    {% endfor %}
</main>

<script>
    const mainHTML = document.getElementById("container")
    const loader = document.getElementById("loader")

    function getIndexFromPath(id) {
        if (typeof id === "number") return id
        return parseInt(id.replace("/dev/video", ""))
    }

    function connectCameraWs(index) {
        if (typeof index !== "number" && !index) return

        const ws = new WebSocket(`ws:localhost:8000/ws/camera-video/${index}`)
        ws.binaryType = "arraybuffer"

        ws.onmessage = (event) => {
            const blob = new Blob([event.data], { type: "image/jpeg" });
            const url = URL.createObjectURL(blob);
            document.getElementById(`cam-${index}`).src = url
            setTimeout(() => URL.revokeObjectURL(url), 1000);
        }
    }

    document.addEventListener('DOMContentLoaded', async () => {
        const cameras = document.querySelectorAll('.camera')
        mainHTML.dataset.count = cameras.length
        cameras.forEach(camera => {
            let id = camera.dataset.id
            if (!id) return
            let platform = "{{platform}}"
            if (platform === "Linux") {
                id = camera.path
            } else {
                id = camera.id
            }
            connectCameraWs(index)
        });

        loader.classList.add('hidden')
        mainHTML.classList.remove('hidden')
    })
</script>
{% endblock %}